@model IEnumerable<SRHLStats2020.Models.DataModels.Match>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TSMNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeamScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeamScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HD1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HD2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LD1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LD2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TSMNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchCategory.MatchCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchStatus.MatchStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchType.MatchTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Series.SeriesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arena.ArenaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeam.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeam.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeamScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeamScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HD1.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HD2.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LD1.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LD2.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
